# conda requirements file for the oil_library package.

# these should all be in one of:
# conda-forge
# NOAA-ORR-ERD channel
# defaults
# best to have them in that order in your conda configuration

python=2.7.*
gitpython
numpy>=1.11.1
scipy>=0.18.1
SQLAlchemy>=1.0.13
zope.sqlalchemy>=0.7.7
awesome-slugify>=1.6.5
pytest>=2.9.2
backports.functools_lru_cache>=1.5
unit_conversion>=2.5.4


