# pip requirements file for the oil_library package.
#  this needs to be manually kept in sync with the conda_requirements file :-(

numpy
scipy
SQLAlchemy
zope.sqlalchemy
awesome-slugify
pytest
gitpython
backports.functools_lru_cache
https://github.com/NOAA-ORR-ERD/PyNUCOS/archive/v2.5.5.tar.gz




